<h1>Create Books</h1>
<br>
<button class="btn btn-secondary" routerLink="/">Quay lại List Books</button>
<br>
<br>
<br>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input [(ngModel)]="title"></td>
    <td><input [(ngModel)]="author"></td>
    <td><input [(ngModel)]="description"></td>
    <td><button class="btn btn-secondary" (click)="createBook()">Create</button></td>
  </tr>
  </tbody>
</table>
